.services {
  display: block;
  padding: 1rem;
}

/* Align icon to left */
.services__item {
  display: flex;
  text-align: left;
}
.services__item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}